{
  "jsxSingleQuote": true,
  "overrides": [
    {
      "files": "*.{md,mdx}",
      "options": {
        "printWidth": 80
      }
    },
    {
      "files": "**/stack-blitz/**/*.ts",
      "options": {
        "printWidth": 80,
        "semi": true
      }
    }
  ],
  "semi": false,
  "singleQuote": true,
  "printWidth": 160,
  "trailingComma": "none"
}
