---
import { CheckedList } from '@/components/CheckedList'
import { CodeWindow } from '@/components/CodeWindow'
import Container from '@/components/Container.astro'
import { SB_FETCH_SHOWCASE } from '@/definitions/stack-blitz/core/modules'
import { SB_UTILS_SHOWCASE } from '@/definitions/stack-blitz/core/utils'
import Layout from '@/layouts/Layout.astro'
import { joinElementClasses } from '@aracna/web'

const SERIALIZATION_ITEMS: string[] = ['Hex, Base32 and Base64', 'Blob, File and FormData', 'Cookies', 'Query Parameters']
---

<Layout title='Core'>
  <Container class='relative flex justify-center items-center' style='height: calc(100vh - 80px)'>
    <div class='z-10 max-w-screen-lg w-full flex flex-col justify-center lg:text-center gap-4'>
      <h1 class='text-6xl'>The pulsating heart of Aracna</h1>
      <p class='text-2xl text-slate-300'>Exposes many functions, modules and utils that will help you write shorter working code.</p>
    </div>
    <div class='absolute w-96 h-96 rounded-full blur-[256px] bg-rose-400'></div>
  </Container>
  <Container class='gap-16'>
    <div class='w-full flex flex-col lg:flex-row items-center gap-16 lg:rounded-3xl'>
      <div class='lg:w-1/2 flex flex-col gap-4'>
        <h2 class='text-6xl'>Improved native APIs</h2>
        <p class='text-2xl text-slate-300'>
          The main goal of the core package is to simplify common actions and patterns that developer go through, communicating with a REST API is a clear
          example here.<br /><br />The native Fetch API does not have automatic serialization of requests and responses, Aracna solves that and much more.
        </p>
      </div>
      <div class='w-full lg:w-1/2'>
        <CodeWindow client:load files={SB_FETCH_SHOWCASE} language='typescript' />
      </div>
    </div>
  </Container>
  <Container class='relative h-screen flex justify-center items-center'>
    <div class='z-10 max-w-screen-lg w-full flex flex-col justify-center lg:items-center lg:text-center gap-4'>
      <h2 class='text-6xl'>Expanded serialization</h2>
      <p class='text-2xl text-slate-300'>
        Annoyed by the lack of a native way to decode and encode hex or base64 in the web? Aracna covers this too, alongside other forms of serialization.
      </p>
      <CheckedList client:load className='mt-8' itemElementProps={{ className: 'lg:-ml-12' }} items={SERIALIZATION_ITEMS} />
    </div>
    <div class='absolute w-96 h-96 rounded-full blur-[256px] bg-lime-400'></div>
  </Container>
  <Container class='gap-16'>
    <div class='w-full flex flex-col lg:flex-row-reverse items-center gap-16 lg:rounded-3xl'>
      <div class='lg:w-1/2 flex flex-col gap-4'>
        <h2 class='text-6xl'>Collection of utils</h2>
        <p class='text-2xl text-slate-300'>
          The core package features many essential utility functions based on context (Arrays, Objects etc.) that will contribute making your development
          experience frictionless.
        </p>
      </div>
      <div class='w-full lg:w-1/2'>
        <CodeWindow client:load files={SB_UTILS_SHOWCASE} language='typescript' />
      </div>
    </div>
  </Container>
  <Container class='relative flex justify-center items-center' style='height: calc(100vh - 80px)'>
    <div class='z-10 max-w-screen-lg w-full flex flex-col justify-center lg:text-center gap-4'>
      <h1 class='text-6xl'>Start using Aracna now</h1>
      <p class='text-2xl text-slate-300'>Improve your development experience and the quality of your code and products.</p>
      <a class='lg:self-center' href='/docs/core/get-started'>
        <button
          class={joinElementClasses(
            'flex justify-center items-center px-16 py-8 mt-6 rounded-full bg-gradient-to-tl from-blue-400 to-blue-300',
            'transition shadow-black hover:shadow-2xl'
          )}
        >
          <span class='text-2xl'>Get Started</span>
        </button>
      </a>
    </div>
    <div class='absolute w-96 h-96 rounded-full blur-[256px] bg-blue-400'></div>
  </Container>
</Layout>
