---
import Container from '@/components/Container.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title='State Manager'>
  <Container class='relative flex justify-center items-center' style='height: calc(100vh - 80px)'>
    <div class='z-10 max-w-screen-lg w-full flex flex-col justify-center lg:text-center gap-4'>
      <h1 class='text-6xl'>Observe and watch changes in a functional way</h1>
      <p class='text-2xl text-slate-300'>Supports React out of the box with a full toolkit of hooks.</p>
    </div>
    <div class='absolute w-96 h-96 rounded-full blur-[256px] bg-seance-400'></div>
  </Container>
</Layout>
