---
import { CodeWindow } from '@/components/CodeWindow'
import Container from '@/components/Container.astro'
import { SB_DOCUMENT_COOKIE_SHOWCASE } from '@/definitions/stack-blitz/web/modules'
import Layout from '@/layouts/Layout.astro'
import GetStartedSection from '@/sections/GetStartedSection.astro'
---

<Layout title='Core'>
  <Container class='relative flex justify-center items-center' style='height: calc(100vh - 80px)'>
    <div class='z-10 max-w-screen-lg w-full flex flex-col justify-center lg:text-center gap-4'>
      <h1 class='text-6xl'>Make the web better and more accessible.</h1>
      <p class='text-2xl text-slate-300'>Create ARIA compliant components with ease and leverage the native Browser APIs in a simpler way.</p>
    </div>
    <div class='absolute w-96 h-96 rounded-full blur-[256px] bg-lime-400'></div>
  </Container>
  <Container class='gap-16'>
    <div class='w-full flex flex-col lg:flex-row items-center gap-16 lg:rounded-3xl'>
      <div class='lg:w-1/2 flex flex-col gap-4'>
        <h2 class='text-6xl'>Improved native APIs</h2>
        <p class='text-2xl text-slate-300'>
          Just like the Core package, we always aim to improve the current native APIs to simplify basic operations, like for example dealing with cookies or
          managing the storage.
        </p>
      </div>
      <div class='w-full lg:w-1/2'>
        <CodeWindow client:load files={SB_DOCUMENT_COOKIE_SHOWCASE} language='typescript' />
      </div>
    </div>
  </Container>
  <GetStartedSection href='/docs/core/get-started' />
</Layout>
