---
import { jec } from '@aracna/web'

interface Props {
  class?: string
  hasMarginTop?: boolean
  hasMobilePadding?: boolean
  style?: string
}

const { hasMarginTop, hasMobilePadding, style } = Astro.props
---

<div
  class={jec('flex flex-col', Astro.props.class, hasMarginTop && 'mt-16 lg:mt-32', hasMobilePadding === false ? 'lg:px-6' : 'px-6')}
  style={style}
>
  <slot />
</div>
