---
import { IconFeatherSearch } from '@aracna/icons-feather-react/components/search.js'
import { joinElementClasses } from '@aracna/web'
---

<div
  class={joinElementClasses(
    'w-64 flex justify-between items-center px-3 py-2 rounded cursor-pointer border-2 border-slate-800',
    'transition hover:border-slate-700'
  )}
>
  <div class='flex items-center gap-2'>
    <IconFeatherSearch client:load stroke='white' />
    <span>Search</span>
  </div>
  <div class='w-6 h-6 flex justify-center items-center text-xs rounded border-2 border-slate-800'>/</div>
</div>
