---
import { AracnaLogo } from './AracnaLogo'
import DocumentationHeaderSearch from './DocumentationHeaderSearch.astro'
---

<div class='h-24 flex justify-between items-center p-6 border-b-2 border-b-slate-800'>
  <a class='flex items-center gap-4' href='/'>
    <AracnaLogo hasText />
  </a>
  <DocumentationHeaderSearch />
  <!-- <QIcon fill='none' size={32} src='https://raw.githubusercontent.com/feathericons/feather/master/icons/menu.svg' stroke='white' stroke-width={1} client:load /> -->
</div>
