---
import { ICON_F_GITHUB } from '@aracna-icons/feather'
import { IconFeather } from './IconFeather'
---

<footer class='flex p-6 mt-64'>
  <div class='w-full flex justify-between items-center'>
    <div class='flex'>
      <div class='w-8 h-8 flex justify-center items-end rounded-full bg-white'>
        <IconFeather client:load className='-mb-[2px] mr-[1px]' fill='black' src={ICON_F_GITHUB} size={24} stroke-width={0} />
      </div>
    </div>
    <span class='text-xl text-slate-300'>MIT License © 2023 Dario Sechi</span>
  </div>
</footer>
