---
import { HEADER_HEIGHT } from '@/definitions/constants';
import { IconFeatherMenu } from '@aracna/icons-feather-react/components/menu.js';
import { AracnaLogo } from './AracnaLogo';
import HeaderSearch from './HeaderSearch.astro';
---

<header class='fixed top-0 left-0 right-0 z-40 flex justify-between items-start p-6 bg-opacity-50 backdrop-blur-3xl bg-black' style={`height: ${HEADER_HEIGHT}px`}>
  <a href='/'>
    <AracnaLogo hasText />
  </a>
  <HeaderSearch />
  <IconFeatherMenu client:load className='lg:hidden' size={24} stroke='white' stroke-width='1.5' />
</header>
<div style={`height: ${HEADER_HEIGHT}px`}></div>
