---
import { HEADER_HEIGHT } from '@/definitions/constants'
import { AracnaLogo } from './AracnaLogo'
import HeaderSearch from './HeaderSearch.astro'
import HeaderMobileNavigation from './HeaderMobileNavigation.astro'
---

<header
  class='fixed top-0 left-0 right-0 z-40 max-w-screen-2xl mx-auto flex justify-between items-start p-6 bg-opacity-50 backdrop-blur-3xl bg-black'
  style={`height: ${HEADER_HEIGHT}px`}
>
  <a href='/'>
    <AracnaLogo hasText />
  </a>
  <div class='flex items-center gap-4'>
    <HeaderSearch />
    <HeaderMobileNavigation />
  </div>
</header>
<div style={`height: ${HEADER_HEIGHT}px`}></div>

<script>
  import { DialogController } from '@/controllers/dialog-controller'

  document.getElementById('mobile-search-trigger')?.addEventListener('click', () => DialogController.show('search'))
</script>
