---
import type { NavigationItem } from '@/definitions/interfaces'
import { getCollectionNavigationItems } from '@/utils/navigation-utils'
import { SidebarItem } from './SidebarItem'

const items: NavigationItem[] = [
  { order: -1, slug: '/', title: 'Introduction' },
  ...(await getCollectionNavigationItems('core')),
  ...(await getCollectionNavigationItems('fcm')),
  ...(await getCollectionNavigationItems('icons')),
  ...(await getCollectionNavigationItems('react')),
  ...(await getCollectionNavigationItems('state-manager')),
  ...(await getCollectionNavigationItems('web'))
]
---

<div class='sticky top-24 left-0 min-w-[280px] max-w-[280px] hidden xl:flex flex-col pl-6 overflow-y-auto' style='height: calc(100vh - 96px)'>
  {items.map((item: NavigationItem) => <SidebarItem {...item} client:only="react" />)}
</div>
