---
import type { DocsPageMDXInstance, DocsPageMDXInstanceFrontmatter } from '../definitions/interfaces'
import type { SidebarItemProps } from '../definitions/props'
import { SidebarItem } from './SidebarItem'

const files = await Astro.glob<DocsPageMDXInstanceFrontmatter>('../pages/docs/**/*.mdx')

function transformFilesToItems(folder: string): SidebarItemProps[] {
  return files
    .filter((file: DocsPageMDXInstance) => file.url?.startsWith(folder))
    .map((file: DocsPageMDXInstance) => ({
      href: file.url,
      title: file.frontmatter.title
    }))
}

const items: SidebarItemProps[] = [
  {
    folder: true,
    items: [
      {
        folder: true,
        items: transformFilesToItems('/docs/core/functions'),
        title: 'Functions'
      },
      {
        folder: true,
        items: transformFilesToItems('/docs/core/modules'),
        title: 'Modules'
      },
      {
        folder: true,
        items: transformFilesToItems('/docs/core/utils'),
        title: 'Utils'
      },
      {
        href: '/docs/core/installation',
        title: 'Installation'
      }
    ],
    title: 'Core'
  },
  {
    folder: true,
    items: [
      {
        folder: true,
        items: [
          {
            folder: true,
            items: transformFilesToItems('/docs/state-manager/react/hooks'),
            title: 'Hooks'
          }
        ],
        title: 'React'
      }
    ],
    title: 'State Manager'
  }
]
---

<div class='w-72 hidden xl:flex flex-col p-6 border-r-2 border-slate-800' style='min-height: calc(100vh - 96px)'>
  {items.map((props: SidebarItemProps) => <SidebarItem {...props} />)}
</div>
