---
import type { SidebarItemProps } from '@/definitions/props'
import { getCollectionSidebarItems } from '@/utils/sidebar-utils'
import { SidebarItem } from './SidebarItem'

const items: SidebarItemProps[] = [
  { order: -1, slug: '/', title: 'Introduction' },
  ...(await getCollectionSidebarItems('core')),
  ...(await getCollectionSidebarItems('fcm')),
  ...(await getCollectionSidebarItems('icons')),
  ...(await getCollectionSidebarItems('react')),
  ...(await getCollectionSidebarItems('state-manager')),
  ...(await getCollectionSidebarItems('web'))
]
---

<div class='sticky top-24 left-0 min-w-[280px] max-w-[280px] hidden xl:flex flex-col pl-6 overflow-y-auto' style='height: calc(100vh - 96px)'>
  {items.map((props: SidebarItemProps) => <SidebarItem {...props} client:only />)}
</div>
