---
import Container from '@/components/Container.astro';
import { jec } from '@aracna/web';

interface Props {
  href: string
}

const { href } = Astro.props
---

<Container class='relative flex justify-center items-center' style='height: calc(100vh - 80px)'>
  <div class='z-10 max-w-screen-lg w-full flex flex-col justify-center lg:text-center gap-4'>
    <h1 class='text-6xl'>Start using Aracna now</h1>
    <p class='text-2xl text-slate-300'>Improve your development experience and the quality of your code and products.</p>
    <a class='lg:self-center' href={href}>
      <button
        class={jec(
          'flex justify-center items-center px-16 py-8 mt-6 rounded-full bg-gradient-to-tl from-blue-400 to-blue-300',
          'transition shadow-black hover:shadow-2xl'
        )}
      >
        <span class='text-2xl'>Get Started</span>
      </button>
    </a>
  </div>
  <div class='absolute w-96 h-96 rounded-full blur-[256px] bg-blue-400'></div>
</Container>
