---
import Header from '../components/Header.astro'
import Sidebar from '../components/Sidebar.astro'
import { TOCs } from '../components/TOCs'

const { frontmatter, headings } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Queelag Documentation - {frontmatter.title}</title>
    <style>
      body {
        @apply bg-gradient-to-b from-slate-900 to-black text-white;
      }
    </style>
  </head>
  <body>
    <Header />
    <div class='max-h-screen-minus-header flex'>
      <Sidebar />
      <div class='prose prose-invert max-w-full xl:max-w-screen-lg max-h-screen-minus-header p-6 overflow-y-auto'>
        <h1>{frontmatter.title}</h1>
        <slot />
      </div>
      <TOCs client:load headings={headings} />
    </div>
  </body>
</html>
