---
import Header from '@/components/Header.astro'
import Sidebar from '@/components/Sidebar.astro'
import { TOCs } from '@/components/TOCs'
import { joinElementClasses } from '@aracna/web'

const { frontmatter, headings } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Aracna Documentation - {frontmatter.title}</title>
    <style is:global>
      body {
        @apply bg-gradient-to-b from-slate-900 to-black text-white;
      }

      ::-webkit-scrollbar {
        @apply w-3 bg-none;
      }

      ::-webkit-scrollbar-track {
        @apply bg-slate-900;
      }

      ::-webkit-scrollbar-thumb {
        @apply transition bg-slate-800 hover:bg-slate-700;
      }
    </style>
  </head>
  <body>
    <Header />
    <div class='max-h-screen-minus-header flex'>
      <Sidebar />
      <div class='max-h-screen-minus-header flex-1 flex justify-center p-6 overflow-y-auto'>
        <div class={joinElementClasses('prose prose-invert max-w-screen-xl w-full pb-6', 'prose-pre:border-2 prose-pre:border-slate-800 prose-pre:bg-black')}>
          <h1>{frontmatter.title}</h1>
          <div class='pb-6'>
            <slot />
          </div>
        </div>
      </div>
      <TOCs client:load headings={headings} />
    </div>
  </body>
</html>
