---
import Header from '@/components/Header.astro'
import Sidebar from '@/components/Sidebar.astro'
import { TOCs } from '@/components/TOCs'
import { jec } from '@aracna/web'
import type { MarkdownHeading } from 'astro'

interface Props {
  frontmatter: Record<string, any>
  headings: MarkdownHeading[]
}

const { frontmatter, headings } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Aracna - {frontmatter.title}</title>
    <style is:global>
      @font-face {
        font-display: swap;
        font-family: 'Futura';
        font-style: normal;
        font-weight: normal;
        src: url('/fonts/futura.woff2') format('woff2');
      }

      body {
        /* font-family: 'Futura', sans-serif; */
        @apply bg-black text-white;
      }

      ::-webkit-scrollbar {
        @apply w-2 bg-none;
      }

      ::-webkit-scrollbar-track {
        @apply bg-slate-900;
      }

      ::-webkit-scrollbar-thumb {
        @apply transition bg-slate-800 hover:bg-slate-700;
      }
    </style>
    <link rel='preconnect' href={`https://${import.meta.env.PUBLIC_ALGOLIA_APP_ID}-dsn.algolia.net`} crossorigin />
  </head>
  <body>
    <Header />
    <div class='max-w-screen-2xl flex mx-auto mt-6'>
      <Sidebar />
      <div class='relative min-h-[200vh] flex-1 px-6 xl:px-12'>
        <div class={jec('prose prose-invert max-w-none pb-6', 'prose-pre:border-2 prose-pre:border-slate-800 prose-pre:bg-black')}>
          {frontmatter.title && frontmatter.url.length > 0 && <h1 id='overview'>{frontmatter.title}</h1>}
          <div class='pb-6'>
            <slot />
          </div>
        </div>
      </div>
      <TOCs client:load headings={headings} />
    </div>
  </body>
</html>
